<header class="navbar navbar-expand-lg fixed-top bg-white">
    <div class="container justify-content-between">
        <a routerLink="/" class="site-logo">
            <img src="assets/images/logo.png" />
        </a>
    </div>
    <div class="language-switch flex justify-content-between">
        <span class="language-button language-button--en" [ngClass]="{'active': currentLanguage == 'en-us'}"
            (click)="changeLang('en-us')">Eng</span>
        <span class="language-button language-button--vi" [ngClass]="{'active': currentLanguage == 'vi-vn'}"
            (click)="changeLang('vi-vn')">Vie</span>
            <div class="language-slider" [ngStyle]="{'left': currentLanguage == 'en-us' ? '0' : '50%'}"></div>
    </div>
</header>