header {
    height: 100px;
}

.language-switch {
    width: 120px;
    border-radius: 20px;
    background-color: var(--primary-color);
    height: 40px;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.language-button {
    display: block;
    width: 50%;
    background-color: transparent;
    text-align: center;
    border-radius: 20px;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 1; 
    transition: color 0.3s ease;

    &.active {
        color: var(--primary-color);
    }
    
}

.language-slider {
    position: absolute;
    top: 5px;
    left: 0;
    width: 50%;
    height: calc(100% - 10px);
    background-color: #fff;
    border-radius: 20px;
    transition: all 0.3s ease;
    z-index: 0; 
  }

