<section class="featured-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white">Featured Posts</h2>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="row">
            @for (post of featuredPostList; track $index) {
                <div class="col-lg-4 col-md-6 col-sm-12 mb-5">
                    <app-post-card [postData]="post"></app-post-card>
                </div>
            }
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Latest Posts</h2>
        <p>lorem ipsum abd asif framfe and gersd</p>
    </div>
    <div class="row">
        @for (postItem of latestPostList; track $index) {
            <div class="col-md-4 col-sm-12 mt-3">
                <app-post-card [postData]="postItem"></app-post-card>
            </div>
        }
    </div>
</section>