.card {
    max-width: 400px;
    min-width: 300px;
    border: none;
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
    height: 500px;
    cursor: pointer;
}

.post-title {
    height: 50px;
    text-overflow: ellipsis;
}

.post-excerpt {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}