@if (postData) {
    <div  class="card" [routerLink]="['/post', postData.id]">
        <img [src]="postData.postImgPath" alt="card" class="card-img-top" />
        <div class="card-body">
            <small class="bg-light text-danger text-center">{{postData.category.category}}</small>
            @if(postData.isFeatured) {
                <small  class="bg-light text-success text-center ml-3">Featured</small>
            }
            <small class="bg-light text-info text-center ml-3">Views - {{postData.views}}</small>
            <h5 class="post-title mt-1">{{postData.title}}</h5>
            <div class="post-excerpt">
                <p>{{postData.excerpt}}</p>
            </div>
            <div>
                <small class="bg-light text-warning text-center">LAST UPDATED - {{convertDate(postData.createAt) | date}}</small>
            </div>
        </div>
    </div>
}